#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 580px;
  margin: 56px auto 32px;
  padding: 0 24px;
}

#app > h1 {
  color: #996dff;
}

#app > h2 {
  align-self: flex-start;
  margin-top: 64px;
}

#app > p {
  align-self: flex-start;
  text-align: justify;
  padding-top: 5px;
  width: 512px;
}

#app .placeholder {
  color: #7c7c8a;
  user-select: none;
}
